@media (max-width: 768px){
.page-container{
    height: 100%;
    display:flex;
    flex-direction: column;
    margin: 0 auto;
}
.nav{
    height: 10%;
}

.menu-container{
    display:flex;
    flex-direction: column;
    height: 80%;
}

.side-bar-container{
    display:flex;
    flex-direction: column;
    height: 25%;
}

.main-page{
    height: 75%;
}

.side-menu1{
    height: 50%;
}
.side-menu2{
    height: 50%;
}

.footer{
    height: 10%;
}
}

